head {
    margin: 0 0 0 0;
}

body {
    width: 100%;
    height: fit-content;
    background-color: #009f43;
    margin: 0 0 0 0;
}

/*header*/


.header {
    width: 100%;
    height: auto;
    background-color: white;
    background-image: url(images/image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    overflow: hidden;
    background-size: 100% auto;
    flex: 1;
}
.text1 {
    font-family: monospace;
    font-size: 6.0rem;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}

.subtitle {
    margin: 0;
    font-family: monospace;
    font-size: 2.0rem;
    font-weight: normal;
    text-align: center;
    color: #ffffff ;
    border-bottom: 4px solid #00c7ae;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009f43;
    position: sticky;
    top: 0; 
}
  
li {
    float: left;
}
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    font-family: monospace;
    font-weight: normal;
    font-size: 1.5rem;
    border-right: 2px solid #00c7ae;
}

nav ul li a:hover {
    background-color: #00c7ae;
}
.active {
    background-color: #00c7ae;
}

/*header end*/

/*content*/


a {
    text-decoration: none;
}

#home {
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
    border: 0px solid transparent;
    margin: 0 0 0 0;
}

.welcome {
    width: 100%;
    height: fit-content;
    background-color: #94fb96;
    margin: 0 0 0 0;
}
.text5 {
    margin: 0 0 0 0;
    font-family: monospace;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    color: #006d0d;
}

.container {
    width: 100%;
    height: fit-content;
    background-color: white;
    border: 1px solid transparent;
    margin: 0;
    position: relative;
    overflow: hidden;
    float: left;
    border-bottom: 4px solid #006d0d;
}

.box1 {
    height: fit-content;
    width: 33%;
    border: 1px solid transparent;
    background-color: transparent;
    margin: 0 0 0 0;
    float: left;
    position: relative;
}
.box2 {
    width: 70%;
    height: fit-content;
    border: 6px solid #00c7ae;
    background-color: #94fb96;
    border-radius: 25px;
    margin: 25px auto 25px auto;
}
.box2:hover {
    border: 6px solid #0523ff;
}
.box2:active {
    border: 6px solid #94fb96;
}
.hit-box {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 25px;
    margin: 0 0 0 0;
}
.box3 {
    width: 80%;
    height: fit-content;
    min-height: 100px;
    background-color: transparent;
    margin: 15px auto 0 auto;
    border-radius: 25px;
}
.foto {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    overflow: hidden;
    border-radius: 25px;
}
.info-text {
    margin: 0 5px 10px 3px;
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: left;
    color: #006d0d;
    overflow: hidden;
}


/*content end*/

/*footer*/

#footer{
    width: 100%;
    height: 300px;
    background-color: #009f43;
    border-top: 4px solid #006d0d;
    margin: 0 0 0 0;
}
.openings-tijden {
    height: 300px;
    width: 33%;
    margin: 0 0 0 0;
    border-right: 3px solid #006d0d;
    float: left;
    border-top: 1px transparent;
}
.kaart {
    height: 300px;
    width: 33%;
    margin: 0 0 0 0;
    float: left;
    border-top: 1px transparent;
}
.google-maps {
    width: 90%;
    height: 90%;
    background-color: #00c7ae;
    margin: 10px auto 0 auto;
    border: 5px solid #00c7ae;
    border-radius: 10px;
}
.contact-gegevens {
    height: 300px;
    width: 33%;
    margin: 0 0 0 0;
    border-left: 3px solid #006d0d;
    float: left;
    border-top: 1px transparent;
}
.text2 {
    margin: auto 0 auto 0;
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: left;
    color: #ffffff;
    overflow: hidden;
}
.text3 {
    margin: 0 0 0 0;
    font-family: monospace;
    font-size: 2.0rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}
.lijst {
    margin: 4px 0 0 5px;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
}
.select {
    margin: 10px 0 0  2px;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
}
.info {
    margin: 0 0 0 2px;
    font-family: monospace;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    color: #0523ff;
    text-decoration: underline #0523ff;
}
.foto {
    width: 100%;
    height: 50%;
    background-color: #00c7ae;
    background-image: url(images/google-maps.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 0 0;
    overflow: hidden;
    border-radius: 10px;
}

/*footer end*/